body {
    position: relative;
}
#title {
    width: 30%
}
@media screen and (max-width: 959px) {
    #back {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}
@media screen and (min-width: 960px) {
    #back {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
}
.btn {
    display: inline-block;
    padding: 0.8em 1em;
    text-decoration: none;
    background: rgb(55, 124, 189);
    color: #FFF;
    border-bottom: solid 4px rgb(43, 93, 141);
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
}
.btn:active {
    transform: translateY(4px);
    border-bottom: none;
}
#helpButton {
    cursor: pointer;
}
.processBox {
    display: inline-block;
    margin: 12px;
    position: relative;
    width: 25%;
    height: 100px;
    background: rgb(241, 230, 132);
    text-align: center;
    vertical-align: middle;
}
.triangle {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 30px solid rgb(241, 230, 132);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.imageBox {
    position: relative;
    display: inline-block;
    background-color: lightcyan;
    padding: 10px;
    margin: 5px;
    width: 40%;
    height: 300px;
    border-top: solid 5px  rgb(55, 124, 189);
    text-align: center;
    overflow: hidden;            
}
.imageBox p {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    white-space: nowrap;
}
.imageBox img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;
    object-fit: contain;
}
.imageBox div {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    line-height: 100%;
    transform: translateY(10px);
    bottom: 0%;
    left: 0%;
    color: rgba(0, 0, 0, 0.2);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}
.overLay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.9);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.modal .inner {
    position: fixed;
    height: 80%;
    width: 60%;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    padding: 1em 2em;
    overflow: scroll;
    overflow-x: visible;
}
#titleLogo {
    text-decoration: none;
}
#content_message {
    width: 50%;
    height: 150px;
    resize: none;
} 

/*
*lukehaas/css-loaders  https://github.com/lukehaas/css-loaders
*Copyright (c) 2014 Luke Haas
*
*Permission is hereby granted, free of charge, to any person obtaining a copy of
*this software and associated documentation files (the "Software"), to deal in
*the Software without restriction, including without limitation the rights to
*use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
*the Software, and to permit persons to whom the Software is furnished to do so,
*subject to the following conditions:
*The above copyright notice and this permission notice shall be included in all
*copies or substantial portions of the Software.
*
*THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
*FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
*COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
*IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
*CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 1px auto;
  font-size: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(55,124,189, 0.2);
  border-right: 1.1em solid rgba(55,124,189, 0.2);
  border-bottom: 1.1em solid rgba(55,124,189, 0.2);
  border-left: 1.1em solid #377cbd;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
