{% extends "layout.html" %}
{% block content %}
<a href="#helpModal" class="openModal" style="color: black">
    <i class="far fa-question-circle fa-lg"></i>
</a>

<br>
<!-- 手順提示領域 -->
<div class="processBox">
<form id="image" method="POST" action="#" enctype="multipart/form-data">
    <b>①画像を選ぶ</b><br>
    <label class="btn">
        <i class="far fa-folder-open fa-3x"></i>
        <input style="display:none" multiple type="file" name="image_data" id="image_data" placeholder="ファイルを選択してください" accept="image/jpeg">
    </label>
</form>
<div class="triangle"></div>
</div>
<div class="processBox">
    <form>
        <b>②星座を選ぶ</b><br>
        <a href="#constellationModal" class="openModal">
        <label class="btn" id="selectConstellation" style="width: 3em;height: 3em;">
            <span class="fa-stack" style="width: 3em;height: 3em;">
                <i class="fas fa-star fa-stack-1x" style="transform:translate(-10px, -5px)"></i>
                <i class="fas fa-mouse-pointer fa-2x" style="transform:translate(6px, 15px)"></i>
            </span>
        </label>
        </a>
        <!--
        <select>
            <option value="sagittarius">いて座</option>
        </select>
        -->
    </form>
    <div class="triangle"></div>
</div>
<div class="processBox">
<form id="toServer">
    <b>③探す</b><br>
    <label class="btn">
        <span class="fa-stack" style="width: 3em;height: 3em;">
            <i class="fas fa-star fa-stack-1x" style="transform:translate(-3.8px, 1.2px)"></i>
            <i class="fas fa-search fa-3x"></i>
        </span>
        <input type="submit" style="display:none">
    </label>
</form>
</div>

<!-- 画像表示領域 -->
<div id="thumbnail" class="imageBox">
    <p>ここに画像が表示されます</p>
    <div id="beforLoader" class="loader loading" style="display:none; font-size:8px;"></div>
    <div>Before</div>
</div>   
<div id="result" class="imageBox">
    <p>ここに画像が表示されます</p>
    <div id="afterLoader" class="loader loading" style="display:none; font-size:8px;"></div>
    <div>After</div>
</div>

<!-- 進行度表示領域 -->
<p>
    Search Progress: <progress class="progressbar" value=0 id="searchBar" max=119></progress><br>
</p>

<div id="log"></div>

<!-- 非表示領域 -->
<div class="modal" id="constellationModal">
    <div class="overLay"></div> 
    <div class="inner">
        <div class="constellationList" id="sagittarius">
            <img src="/static/sagittarius.svg" alt="いて座">
            <span>いて座<br>Sagittarius</span>
        </div>
        <div class="constellationList" id="scorpius">
            <img src="/static/scorpius.svg" alt="さそり座">
            <span>さそり座<br>Scorpius</span>
        </div>
        <div class="constellationList" id="gemini">
            <img src="/static/gemini.svg" alt="ふたご座">
            <span>ふたご座<br>Gemini</span>
        </div>
    </div>
</div>
<div class="modal" id="helpModal">
    <div class="overLay"></div>
    <div class="inner" style="text-align: left">
        <div id="usage">
            <p><b>星座検出アプリ「みちびき(Michibiki)」使い方</b></p>
            <u>①画像を選ぶ</u><br>
            ボタンを押して星座をみつけたい星空の写真を選んでください(JPEGのみ)。<br>
            <u>②星座を選ぶ</u><br>
            ボタンを押すとメニューが開くのでみつけたい星座を選んでください。<br>
            <u>③探す</u><br>
            ボタンを押すと星座の検出が始まります。けっこう時間がかかるので気長にお待ちください。<br>
            画像を作者が無断で保存及び利用することはありません。出力画像は右クリックで保存できます。自由にご利用ください。<br>
            仮運用中のため途中で止まるなどの不具合があります。お時間を取らせて申し訳ありませんが、再読み込みしてください。<br><br>
            星座の検出精度向上・バリエーション追加のため、画像を提供してくださる方を募集しております。<br>
            詳しくは<a href="./send_message">こちら</a>
        </div>
        <div style="display: absolute; bottom: 0; text-align: center">
            <p>&copy; 2018 高砂
                <a href="https://twitter.com/takasa_five/" target="_blank"><i class="fab fa-twitter-square fa-lg" style="color: #00aced"></i></a>
                <a href="https://github.com/takasa5" target="_blank"><i class="fab fa-github-square fa-lg" style="color: #24292e"></i></a>
            </p> 
        </div>
    </div>
</div>
<a href="javascript:void(0);" onclick="onClickTheater();">
    <div class="theater">
        <div id="tweetButton"><i class="fab fa-twitter fa-fw" style="color:white"></i>Tweet</div>
    </div>
</a>

{% endblock %}